<?xml version="1.0" encoding="utf-8"?><!--
  ~ Designed and developed by "옴마야" Team 2023.
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/mash-up-kr/WeQuiz-Android/blob/main/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WeQuizApp"
        android:icon="@mipmap/ic_launcher"
        android:label="WeQuiz"
        android:theme="@style/Theme.WeQuiz"
        tools:ignore="MissingApplicationIcon">

        <activity
            android:name=".quiz.create.QuizCreateActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity/" />

        <activity
            android:name=".intro.IntroActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.main.HomeMainActivity"
            android:exported="true" />

        <activity
            android:name=".home.friends.FriendsRankActivity"
            android:exported="true" />

        <activity
            android:name=".home.quizdetail.QuizDetailActivity"
            android:exported="true" />

        <activity
            android:name=".home.quizlist.QuizListActivity"
            android:exported="true" />

        <activity
            android:name=".quiz.solve.QuizSolveActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="wequiz.page.link"
                    android:scheme="https" />
            </intent-filter>

        </activity>

    </application>

</manifest>